@use './variables' as *;

.totals_section {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    // width: 100%;
    // max-width: 600px;
    // overflow-y: auto;
    // padding: 8px;
    // box-sizing: border-box;
    // border-radius: 8px;
    // margin-bottom: 8px;
    border-radius: 15px;
}